/* DEFAULT SETTINGS ------------------------------------------ */

ul
	list-style: none
	padding: 0

a:hover 
	text-decoration: none	

/* STARTING PROJECT ------------------------------------------- */	


@font-face
  font-family: "Bebas"
  src: url('../fonts/Bebas.ttf') format("truetype")

@font-face
  font-family: "Helvetica"
  src: url('../fonts/Helvetica.ttf') format("truetype")

body 
  font-family: "Helvetica"
  background-color: #101010


/* HEADER -------------------------------------------------------- */

header 
	width: 90%
	margin: auto
	margin-top: 45px

.infoAboutFilm
	& ul 
		& > li 
			& > span 
				color: #fff
				font-weight: 400
				font-size: 40px			
				font-family: Bebas
				line-height: 48px	
			&:first-child 
				& > span
					font-size: 100px
					letter-spacing: -0.5px
					line-height: 60px
			&:last-child
				& > span
					color: #e71e6e
					letter-spacing: -0.2px
					line-height: 48px

.nav 
	& .logo 
		& > span 
			text-align: center
			color: #e71e6e
			font-size: 40px
			font-weight: 400
			line-height: 48px
			letter-spacing: -0.2px
	& .menu 
		margin-top: 30px
		& ul 
			& > li 
				margin-top: 5px					
				background-color: #e71e6e
				padding: 3px 50px
				text-align: center
				& > a
					color: #fff
					font-size: 20px
					font-weight: 400
					line-height: 29px
					letter-spacing: -0.1px




/* MAIN -------------------------------------------------------------- */
main 
	width: 57%
	margin: auto
	background-color: #f5f5f5				
	& .descrptFilm
		&__text 
			margin-left: 30px
			& > p 
				color: #101010
				font-size: 18px
				font-weight: 400
				letter-spacing: -0.09px
				margin-top: 20px
				max-width: 500px
	& .reviewsFilm
		margin-top: 35px 
		& > span 
			margin-left: 50px
			padding: 2px 0
			color: #101010
			font-size: 18px
			font-weight: 400
			line-height: 18px
			letter-spacing: -0.09px
			&:first-child
				margin-left: 0
				font-size: 24px
				letter-spacing: -0.12px		
			&:nth-child(2)
				background-image: linear-gradient(to right, #B7FFB1 72%, rgba(255,255,255, 0) 18%)			
			&:nth-child(3)
				background-image: linear-gradient(to right, #D7D7D7 22%, rgba(255,255,255, 0) 15%)				
			&:last-child
				background-image: linear-gradient(to right, #FFB1B1 26%, rgba(255,255,255, 0) 10%)				